@import './node_modules/bulma/sass/utilities/initial-variables.sass';

$color-1: #e30e9d;
$color-2: #fbeffc;
$color-3: #c3b8da;
$color-4: #2f1661;
$color-5: #f5f5f5;

:export {
  color-1: $color-1;
  color-2: $color-2;
  color-3: $color-3;
  color-4: $color-4;
  color-5: $color-5;
  breakpoint-tablet: $tablet;
  breakpoint-desktop: $desktop;
  breakpoint-widescreen: $widescreen;
  breakpoint-fullhd: $fullhd;
}
