@import './node_modules/bulma/sass/utilities/initial-variables.sass';

$dark-rose: #c4385a;
$black: #000000;
$black-2: #2b2b2b;
$white: #ffffff;
$white-2: #fdfdfd;

:export {
  dark-rose: $dark-rose;
  black: $black;
  black-2: $black-2;
  white: $white;
  white-2: $white-2;
  breakpoint-tablet: $tablet;
  breakpoint-desktop: $desktop;
  breakpoint-widescreen: $widescreen;
  breakpoint-fullhd: $fullhd;
}
